@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 
@font-face{
  font-family:'quantum';
  src:url("./font/Quantum.otf") format('opentype');
}

html{
  overflow-y: hidden;
}
body{
  margin:0;
  background:rgb(62, 64, 66);
  color:white;
  overflow-x: hidden;
}
.header{
  
}
.header a{
  padding:10px;
  width:200px;
  background: #838383;

}
.App {
  text-align: center;
}

.mangasCard{
  background:dodgerBlue; 
  text-align:center;color:white;font-weight:600;font-size:16px;cursor:pointer;height:245px;display: flex;flex-direction:column;;
  width:100%;
  background:url("../public/manga.jpg");
  background-position:center ;
  background-size: 150% 100%;
  z-index:1;
  position:relative;
  transition: 0.35s ease-in-out;
}

.mangasCard:hover{
  box-shadow: 1px 1px 16px 1px #838383;
  z-index:2;
  backdrop-filter: blur(10px);
  position:relative;
  background-size:230% 150%;
  transition:  0.15s ease-in-out;

}
.description{
  color:rgba(190, 190, 190, 0.1);
  font-size: 13px;
  font-weight:300;
  max-height: 103px;
  line-height: 0.9rem;
  overflow: hidden;
  padding-bottom: 3px;
  font-style: italic;
  text-overflow: ellipsis;
}
.mangasCard:hover .description{
  text-shadow:#000000 0px 0px 2px,#181515 0px 0px 4px,#000000 0px 0px 6px;;
  color:rgba(253, 253, 253, 0.945);
  transition:0.20s ease-in-out;
}
.mangaCarousel{
  width:100vw;
  height:82vh;
  background:url("../public/manga.jpg");
  background-size: cover;
  background-position:right 25% bottom 65%;
  
}

.bandeauManga{
  background:rgb(53, 53, 53);
  width:100vw;
  padding:20px 0 0 0;
  cursor:pointer;
  color:rgb(230, 222, 197);
  font-weight: 600;
}

.bandeauManga:hover{
  background:rgb(63, 63, 63);
  color:white;
}

.containerMangaName{
  
  border-bottom: 1px solid rgba(224, 233, 231, 0.876);
  border-right: 1px solid rgba(224, 233, 231, 0.876);
  border-left: 1px solid rgba(224, 233, 231, 0.876);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;}

  .colDesManga{
    display: flex;
    flex-direction: column;

  }
  .mangaCard{
    word-wrap: break-word;
  }